.titleSlide {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-image: url("../../assets/disabled.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
}

.titleSlide h1 {
  font-size: 80px;
  margin: 3px;
  color: white;
}

.titleSlide button {
  font-size: 25px;
  background-color: black;
  border-color: white;
  color: white;
  border-radius: 25px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 25px;
}

.buttonGroup div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttonGroup button {
  margin: 50px;
  margin-top: 30px;
}

.titleSlide input {
  color: black;
  font-size: 22px;
  margin: 25px;
  margin-left: 495px;
}
